@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here.
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 30 20% 97%;
    --foreground: 0 35% 25%;

    --card: 0 0% 100%;
    --card-foreground: 0 35% 25%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 35% 25%;

    --primary: 0 40% 30%;
    --primary-foreground: 30 25% 92%;

    --secondary: 200 70% 50%;
    --secondary-foreground: 0 0% 98%;

    --muted: 30 15% 90%;
    --muted-foreground: 0 20% 45%;

    --hero-primary: 30 25% 92%;
    --hero-muted: 30 20% 85%;

    --accent: 15 75% 60%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 60% 65%;
    --input: 30 20% 85%;
    --ring: 0 40% 30%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
